.navbar {
    margin-bottom: 0;
}

main {
    padding-top: 7rem;
    margin-bottom: 0;
}

footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.jumbotron {
    /*padding-top: 7rem;*/
    padding-bottom: 3rem;
    background-color: #fff;
}

#gp-banner {
    padding-bottom: 3rem;
}

/*
  https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
*/
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
