body {
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    padding-top: 3.5rem;
    background-color: white;
}

/*
  https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
*/
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
